<div ng-controller="RfqCtrl">
    <div modal="shouldBeOpen" close="close()" options="modalopts">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Request for Quotation</h3>
        </div>
        <div class="modal-body">
            <part-summary part="part" rfq="rfq" quantities="quantities" priorities="priorities" />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" ng-click="close()">Close</button>
            <button class="btn btn-primary" ng-click="submitRfq()">Save changes</button>
        </div>
    </div>
</div>
